<!doctype html>
<html lang="en">
<title>Check Mate</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body style="padding: 25px">

<!-- Main Container -->
<div class="container">

    <!-- Header Section -->
    <div class="row">
        <!-- Logo -->
        <div style="float: left">
            <img src="../static/images/aws_logo.png" alt="aws_forums_logo" width="300px" height="150px">
        </div>
        <div style="float: left; margin-top: 50px">
            <h3>AWS Forums - EC2 & RDS Sanity Check </h3>
            <p style="color: gray">A sanity check to help diagnose common issues with your EC2 & RDS instances.</p>
        </div>
    </div>

    <div class="row card" style="padding: 30px">
        <!-- Form -->
        <form action="/run" method="POST">
            <div class="form-group">
                <label for="endpoint" class="card-title">Instance Endpoint or IP</label>
                <input type="text" class="form-control" id="endpoint" placeholder="enter instance endpoint or IP" name="endpoint">
                {% if endpoint_message %}
                <div class="alert alert-danger" role="alert" style="margin-top: 10px">
                    {{endpoint_message}}
                </div>
                {% endif %}
            </div>

            <label style="margin-top: 20px">Select tests to perform:</label>
            <div class="form-group form-check">
                <div style="float: left; margin-left: 5px">
                    <input type="checkbox" name="checks" value="ping">
                    <label>ping</label>
                </div>
                <div style="float: left; margin-left: 20px">
                    <input type="checkbox" name="checks" value="traceroute">
                    <label>traceroute</label>
                </div>
                <div style="float: left; margin-left: 20px; margin-right: 20px">
                    <input type="checkbox" name="checks" value="telnet" id="telnet">
                    <label>telnet</label>
                </div>
                <div style="margin-left: 20px">
                    <input type="checkbox" name="checks" value="nslookup">
                    <label>nslookup</label>
                </div>
                {% if checkbox_message %}
                    <div class="alert alert-danger" role="alert" style="margin-top: 10px">
                        {{checkbox_message}}
                    </div>
                {% endif %}
            </div>
            <div id="port_numbers" class="form-group" style="display: none; margin-top: 20px">
                <div class="form-group" >
                  <label for="sel1">Select port to test</label>
                  <select class="form-control" id="sel1">
                      <option>22 - SSH</option>
                      <option>80 - HTTP</option>
                      <option>443 - HTTPS</option>
                      <option>3389 - RDP</option>
                      <option>3306 - MySQL/Aurora</option>
                      <option>5432 - Postgres</option>
                      <option>1521 - Oracle</option>
                      <option>1433 - MSSQL</option>
                  </select>
                </div>
            </div>
            <div style="margin-top: 30px">
                <button type="submit" class="btn" onclick="unhide_progress_bar()" style="background-color: orange; color: white">Analyse</button>
            </div>
            <div style="margin-top: 40px; display: none" id="progress_bar">
                 <p>Running test 1 of x</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:0%; background-color: orange !important"></div>
                </div>
            </div>
        </form>
    </div>

    <!-- Results Section -->
    {% if ping_output or traceroute_output or telnet_output or nslookup_output%}
    <div class="card-header row" style="margin-top: 50px">
        <h5 >Test Results</h5>
    </div>
    {% endif%}
    <div class="card-body">

        <!-- Ping -->
        {% if ping_output%}
            <div class="card row" style="padding: 30px; margin-top: 10px">
            <label style="font-weight: bold">Ping</label>
             {% if ping_output[0] == 'Success.'%}
                <div class="alert alert-success" role="alert">Pass</div>
             {% endif %}

             {% if ping_output[0] != 'Success.'%}
                <div class="alert alert-danger" role="alert">{{ping_output[0] }}</div>
             {% endif %}

             {% if ping_output[0] != 'Success.'%}
                <div class="card-header alert alert-info" role="alert">
                    <label style="float: left" >Recommendations</label>
                    <i style="float: right" class="fa fa-2x fa-angle-double-down" id="expand_ping_recommendations"></i>
                </div>
                <div id="ping_recommendations">
                     {% if ping_output[0] == 'Request timed out.'%}
                        <div style="padding: 10px" class="card">
                            <p>1. Check with your network administrator to determine if your network traffic allows traffic to and from the EC2 instance</p>
                            <p>2. Check that your EC2 instance is publicly accessible and that the instance is associated with a public subnet</p>
                        </div>
                     {% endif %}

                     {% if ping_output[0] == 'Invalid IP/EP.'%}
                        <div style="padding: 10px" class="card">
                            <p>1. Be sure that you use the correct endpoint, and that you provide the endpoint in the correct format to the client you use to connect to the EC2 instance.</p>
                        </div>
                     {% endif %}

                    {% if ping_output[0] == 'Destination Host Unreachable.'%}
                        <div style="padding: 10px" class="card">
                            <p>1. Check with your network administrator to determine if your network traffic allows traffic to and from the EC2 instance.</p>
                            <p>2. Your network Access Control List must allow inbound and outbound traffic </p>
                            <p>3. Check that your security group allow inbound traffic on the the proper port: 22 for Linux and 3389 for Windows</p>
                        </div>
                    {% endif %}
                </div>

                <div class="card-header" role="alert">
                    <label style="float: left">Test output</label>
                    <i onclick="unhide_ping_output()" style="float: right" class="fa fa-2x fa-angle-double-up" id="expand_ping_output"></i>
                </div>
                <div id="ping_results" style="display: none; padding: 10px" class="card ">

                        {% for i in ping_output[1] %}
                            <p>{{i}}</p>
                        {% endfor %}

                </div>
             {% endif %}
        </div>
        {% endif %}

        <!--Traceroute -->
        {%if traceroute_output %}
            <div class="card container" style="padding: 30px; margin-top: 10px">
                <label style="font-weight: bold">Traceroute</label>
                 <p>Result: Pass</p>
            </div>
        {% endif %}

        <!-- Telnet -->
         {%if telnet_output %}
             <div class="card container" style="padding: 30px; margin-top: 10px">
                 <label style="font-weight: bold">Telnet</label>
                 <p>Result: Pass</p>
            </div>
         {% endif %}

        <!-- Nslookup -->
        {%if nslookup_output %}
            <div class="card container" style="padding: 30px; margin-top: 10px">
                <label style="font-weight: bold">Nslookup</label>
                <p>Result: Pass</p>
            </div>
        {% endif %}

    </div>

</div>

<script>
    checkbox = document.getElementById('telnet');

    checkbox.addEventListener('change', e => {

        if(e.target.checked){
           document.getElementById('port_numbers').style.display = "block"
        }
        else if(!e.target.checked) {
             document.getElementById('port_numbers').style.display = "none"
        }

    });

    function unhide_progress_bar() {
        document.getElementById('progress_bar').style.display = 'block'
    }


    ping_expand = document.getElementById('expand_ping_output');

    ping_expand.addEventListener('click', e =>{

           if(document.getElementById('expand_ping_output').classList.contains('fa-angle-double-up')){

               document.getElementById('expand_ping_output').classList.remove('fa-angle-double-up');
               document.getElementById('expand_ping_output').classList.add('fa-angle-double-down');
               document.getElementById('ping_results').style.display = "block"

           }
           else if(document.getElementById('expand_ping_output').classList.contains('fa-angle-double-down')){

               document.getElementById('expand_ping_output').classList.remove('fa-angle-double-down');
               document.getElementById('expand_ping_output').classList.add('fa-angle-double-up');
               document.getElementById('ping_results').style.display = "none"

           }
    });

    ping_recommend = document.getElementById('expand_ping_recommendations');
    ping_recommend.addEventListener('click', e =>{

         if(document.getElementById('expand_ping_recommendations').classList.contains('fa-angle-double-up')){

               document.getElementById('expand_ping_recommendations').classList.remove('fa-angle-double-up');
               document.getElementById('expand_ping_recommendations').classList.add('fa-angle-double-down');
               document.getElementById('ping_recommendations').style.display = "block"

           }
           else if(document.getElementById('expand_ping_recommendations').classList.contains('fa-angle-double-down')){

               document.getElementById('expand_ping_recommendations').classList.remove('fa-angle-double-down');
               document.getElementById('expand_ping_recommendations').classList.add('fa-angle-double-up');
               document.getElementById('ping_recommendations').style.display = "none"

           }
    });



    // Validate Endpoint/IP


</script>

<!-- Scripts -->
<script src="../static/js/main.js"></script>
<script src="../static/js/jquery/jquery-3.4.1.js"></script>
<script src="../static/js/bootstrap/bootstrap.js"></script>

</body>
</html>
